* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
}

.game-container {
    height: 90vh; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container {
    width: 330px;
    margin: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    color: #ffffff;
    font-weight: bold;
    margin: 3px;
    cursor: pointer;
    user-select: none;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex; /* columns next to each other instead of stacked */
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; /* center anything in tiles */
    color: #ffffff;
    font-weight: bold;
    margin: 2px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
.grey-overlay {
    background-color: #3a3a3c !important; /* important brings to front */
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important; /* order is important */
}

.message-container {
    height: 30px !important;
    z-index : 10;
/*     z-index: -1;
    position: relative; */
    transition-property: background-color; 
    transition-timing-function: ease-in-out;
    transition-duration: 3s;

}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;  /* customize pop up message */
    transition-property: background-color; 
    transition-timing-function: ease-in-out;
    transition-duration: 3s;

}

.transform-state {
    background-color: #818384;
    transition-property: background-color; 
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}